# Pandas

You can learn more with this book: *Python for Data Analysis* by Wes McKinney (Oâ€™Reilly). Copyright 2017 Wes McKinney, 978-1-491-95766-0. Chapters 5 and 7. Or take the course from coursera: Introduction to Data Science in Python, which this notebook is based on. 

Pandas was created by Wes McKinney in 2008. It is an open source project with a strong communinty, through which, you get acquainted with your data by cleaning, transforming, and analyzing it. Pandas is built on top of the **NumPy** package, meaning a lot of the structure of NumPy is used in Pandas.

## Series 
**Series** is one of the core data structures in pandas. A Series is essentially  a list, where items are stored in an order and you can retrieve them with a label (also like a dictionary). You can think of it as a one-dimensional labeled array capable of holding any data type with axis labels or index or two lists. The first list is the **index**, like keys in a dictionary, the second is the data (It has a label of its own that can be retired with `.name` attribute. 

One way to create a series is using a list of values. Pandas automatically assigns an index starting with zero and sets the name of the series to none.

In [1]:
import pandas as pd
# list of 4 students 
students = ["Harry", "Ron", "Hermione", "Draco"]
pd.Series(students)

0       Harry
1         Ron
2    Hermione
3       Draco
dtype: object

Pandas automatically detects the type of data in the series as object and the values are indexed with integers starting with zero. If we feed in integres it will set the type to `int64`. Underneath, pandas storage series values in a typed array using the Numpy library, which is much more efficient. There are many panda types, the most useful ones are : 
- object - can store any object, also mixed types
- int64 - integer 
- float64 - float 
- datetime64 - datetime
- bool -boolean

In [2]:
nums = [42, 666, 0, 1]
pd.Series(nums)

0     42
1    666
2      0
3      1
dtype: int64

In [4]:
nums = [42, 666, 0, 1]
num_series=pd.Series(nums, dtype='float64')
num_series

0     42.0
1    666.0
2      0.0
3      1.0
dtype: float64

You can convert between datatypes using `astype`.

In [5]:
num_series.astype('int64')

0     42
1    666
2      0
3      1
dtype: int64

### Missing data
In Python we indicate a missing values as `None`, if we have a list of strings with a `None`, underneath, pandas does some type conversion for us and insreats a `None` into the Series.

In [6]:
students = ["Harry", "Ron", "Hermione", None]
pd.Series(students)

0       Harry
1         Ron
2    Hermione
3        None
dtype: object

If we create a list of numbers, integers, or floats and insert a `None` , pandas converts this into a special floating-point value called `NaN` which stands for **Not a Number**.

In [7]:
nums = [42, 666, 0, None]
pd.Series(nums)

0     42.0
1    666.0
2      0.0
3      NaN
dtype: float64

**Notice** the `dtype` is changed to float64. `NaN` is considered a float, and because integers can be typecast to float, the Series is converted to floats automatically.

**Notice** `NaN` is not equivalent to `None` and when we try the equality tests, the result is `False`. Its meaning is similar but it's a numeric value and treated differently for efficiency reasons.

In [8]:
import numpy as np 
np.nan == None

False

In [9]:
np.nan == np.nan

False

Strange, huh? 

We need to use special functions for the presence of `NaN`, such as Numpy's `isnan()`.

In [10]:
np.isnan(np.nan)

True

### Creation with Dict
A series can be created directly from dictionary data, in this case, the index is automatically assigned to the keys of the dictionary.

In [11]:
students_classes = {
    "Harry" : "Defense Against the Dark Arts",
    "Ron" : "Charms",
    "Hermione" : "Transfiguration",
    "Draco"    : "Potions"
} 
s_c = pd.Series(students_classes)
s_c

Harry       Defense Against the Dark Arts
Ron                                Charms
Hermione                  Transfiguration
Draco                             Potions
dtype: object

Data type is `object` and the `index` is the strings in the keys.

In [12]:
s_c.index

Index(['Harry', 'Ron', 'Hermione', 'Draco'], dtype='object')

A lot of things in pandas are implemented as Numpy arrays and have the dtype value set. Here pandas inferred that we're using `objects` (can store everything, even more complex datatypes) for the index.

To separate your index creation from the data, you cann pass it explicitly to the series.

In [13]:
s_c = pd.Series(["Defense Against the Dark Arts", "Charms","Transfiguration", "Potions"],
                index = ["Harry", "Ron", "Hermione", "Draco"]
 )
s_c

Harry       Defense Against the Dark Arts
Ron                                Charms
Hermione                  Transfiguration
Draco                             Potions
dtype: object

If the list of values in the index object are not aligned with the keys in your dictionary for creating the series, pandas overrides the automatic creation to favor only and all of the index values that is provided it. 

If a value is present in the dictionary but not in the index --> it will be ignored 

If a new index is presented, which is not in the dictionary --> add `None` or `NaN` type values

In [14]:
s_c_subset = pd.Series(students_classes, index = ["Harry", "Ron", "Hagrid"]
 )
s_c_subset

Harry     Defense Against the Dark Arts
Ron                              Charms
Hagrid                              NaN
dtype: object

The index values can also be not unique, this makes the Pandas Series conceptually different from a relational database. Having non-unique identifiers slows down certain functionalities, and hence, should be avoided.

In [16]:
Hagrid =  pd.Series(["Herbology", "Charms"],
                index = ["Hagrid", "Hagrid"])
Hagrid

Hagrid    Herbology
Hagrid       Charms
dtype: object

We can append all of the data in this new series to the first using the `.append` function.

In [17]:
all_c = s_c.append(Hagrid)
all_c

Harry       Defense Against the Dark Arts
Ron                                Charms
Hermione                  Transfiguration
Draco                             Potions
Hagrid                          Herbology
Hagrid                             Charms
dtype: object

The append method doesn't change the underlying series objects, but returns a new series. This is actually a common pattern in Pandas (returning a new object instead of modifying one in place).

In [18]:
s_c

Harry       Defense Against the Dark Arts
Ron                                Charms
Hermione                  Transfiguration
Draco                             Potions
dtype: object

## Query a Series

A pandas Series can be queried either by the **index position** or the **index label**. If you don't give an index to the series, the position in the label are the same values. To query by **position**, starting at 0, use the `iloc` attribute. To query by **label**, use the `loc` attribute. 

**Notice:** `iloc` and `loc` are **not** methods, but attributes, so you don't use parentheses, but square brackets (indexing operator) to query them.

In [19]:
s_c.iloc[2]# third entry

'Transfiguration'

In [21]:
s_c.loc['Hermione']

'Transfiguration'

You can also set values with the `loc` attribute:

In [22]:
s_c.loc['Hargid'] = 'Herbology'
s_c

Harry       Defense Against the Dark Arts
Ron                                Charms
Hermione                  Transfiguration
Draco                             Potions
Hargid                          Herbology
dtype: object

There is also a smart syntax using the indexing operator directly on the series. 

If you pass in an integer parameter, it will be interpreted as the `iloc` attribute. 

If you pass in an object , it will be interpreted as the `loc` attribute.

In [23]:
s_c[2]

'Transfiguration'

In [24]:
s_c['Hermione']

'Transfiguration'

**Notice:** If your index is actually a list of integers, then Pandas can't determine automatically whether you're intending to query by index position or index label. The safer option is to use the `iloc` and `loc` attributes.

In [25]:
class_code = {
    666 : "Defense Against the Dark Arts",
    660 : "Charms",
    100 : "Transfiguration",
    101    : "Potions"
} 
c_c = pd.Series(class_code)
c_c[0]

KeyError: 0

In [26]:
c_c.iloc[0]

'Defense Against the Dark Arts'

### Working with the Data 
A common task is to do an operation on all of the values inside of a series. e.g., find a certain number, or summarizing the data or transforming the data.

A programmatic approach is to  iterate over all of the items in the series, and invoke the operation one is interested in. For instance, to get an average of a long list of numbers:

In [27]:
nums = pd.Series(np.random.randint(0,999,1000))

print(len(nums))
nums.head()

1000

0    498
1    506
2    302
3    675
4    861
dtype: int64

In [29]:
%%timeit -n 1000 # magic function. it will run our code 1000 times to determine on average how long it takes.
t=0 
for num in nums: 
    t+=num   
t/len(nums)

131 Âµs Â± 11.6 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)

**Not effiecent**

Pandas and the underlying NumPy support allows for vectorization and parallel computing. You can use many of the NumPy functions here in Pandas too.

In [30]:
%%timeit -n 1000
np.sum(nums)/ len(nums)

76.8 Âµs Â± 6.5 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)

So, when possible try to avoid for loops and use the built-in functions.

#### Broadcasting: 
We apply an operation to every value in the series, without needing to iterate over it.

In [31]:
nums+=100 
nums.head()

0    598
1    606
2    402
3    775
4    961
dtype: int64

#### Iteration: 
Pandas also support iterating through the series, similiar to  a dictionary. Use the `iteritems` function in to iterate over a series, which returns a `label` and a `value`.

In [32]:
for label, value in nums.iteritems():
    nums.set_value(label,value+100) #change in place also => nums.loc[label]= value
    # you can also add values here, if the label doesnt exist then a new entry is created. 
nums.head()

/Users/satyaalmasian/anaconda/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

0     698
1     706
2     502
3     875
4    1061
dtype: int64

If you find yourself iterating in Pandas, question whether you're doing things in the best possible way.

## DataFrame

**DataFrame** is the primary object for data analysis and cleaning tasks. The DataFrame is conceptually a two-dimensional series object, with an index and multiple columns of labeled content. You can think of the DataFrame itself as simply a two-axis labeled array. 

[pic]: https://storage.googleapis.com/lds-media/images/series-and-dataframe.width-1200.png "From: https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/"
![][pic]
Source: https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/

Let's look at an example, where each series represents a row of data.

In [33]:
record1 = pd.Series({
    "name": "Harry",
    "class": "Defense Against the Dark Arts",
    "grade" : 1.3
})
record2 = pd.Series({
    "name": "Ron",
    "class": "Charms",
    "grade" : 3.0
})
record3 = pd.Series({
    "name": "Hermione",
    "class": "Transfiguration",
    "grade" : 1.0
})
record4 = pd.Series({
    "name": "Draco",
    "class": "Postions",
    "grade" : 1.0
})
df = pd.DataFrame([record1,record2,record3,record4], index = ["Gryffindor","Gryffindor","Gryffindor","Slytherin"])
df.head()# Like the series, we can use the head function to see the first several rows of the DataFrame,
#including indices from both axis.

                name                          class  grade
Gryffindor     Harry  Defense Against the Dark Arts    1.3
Gryffindor       Ron                         Charms    3.0
Gryffindor  Hermione                Transfiguration    1.0
Slytherin      Draco                       Postions    1.0

You can also represent each row of data with a dictionary:

In [34]:
students = [{
    "name": "Harry",
    "class": "Defense Against the Dark Arts",
    "grade" : 1.0
},{
    "name": "Ron",
    "class": "Charms",
    "grade" : 3.0
},{
    "name": "Hermione",
    "class": "Transfiguration",
    "grade" : 1.0
},{
    "name": "Draco",
    "class": "Postions",
    "grade" : 1.0
}]
df = pd.DataFrame(students, index = ["Gryffindor","Gryffindor","Gryffindor","Slytherin"])
df.head()

                name                          class  grade
Gryffindor     Harry  Defense Against the Dark Arts    1.0
Gryffindor       Ron                         Charms    3.0
Gryffindor  Hermione                Transfiguration    1.0
Slytherin      Draco                       Postions    1.0

### Query

Same as series, we can use the `.iloc` and `.loc` attributes, to query data. Because the DataFrame is two-dimensional, passing a single value to `.loc`, will return the series (because you are querying for a row now). Name of the series is set to the index value.

In [35]:
df.loc['Slytherin']

name        Draco
class    Postions
grade           1
Name: Slytherin, dtype: object

In [36]:
type(df.loc['Slytherin'])

pandas.core.series.Series

**Notice:** the indices and column names along either axis horizontal or vertical, could be non-unique. In this example, we have three students for **Gryffindor**. If we query using `.loc` attribute, multiple rows of the DataFrame will be return, not as a new series, but as a new DataFrame.

In [37]:
df.loc['Gryffindor']

                name                          class  grade
Gryffindor     Harry  Defense Against the Dark Arts    1.0
Gryffindor       Ron                         Charms    3.0
Gryffindor  Hermione                Transfiguration    1.0

In [38]:
type(df.loc['Gryffindor'])

pandas.core.frame.DataFrame

You can select data based on multiple axis. You can supply two parameters to `.loc`, one being the row index and the other being the column name. This is still an indexing operator and not a parameter to a function, don't use paranthesises.

In [39]:
df.loc['Gryffindor','name']

Gryffindor       Harry
Gryffindor         Ron
Gryffindor    Hermione
Name: name, dtype: object

**Select a single column:** Since `iloc` and `loc `are used for row selection, Pandas reserves the indexing operator directly on the DataFrame for column selection, using the column name as the label. Don't use `.loc` with a column name.

In [40]:
df['name'] #index remains

Gryffindor       Harry
Gryffindor         Ron
Gryffindor    Hermione
Slytherin        Draco
Name: name, dtype: object

In [41]:
df.loc['name']

KeyError: 'name'

In [42]:
type(df['name']) # is also a Series object

pandas.core.series.Series

Since the result of using the indexing operator is either a DataFrame or series, you can chain operations together.

In [43]:
df.loc['Gryffindor']['name']

Gryffindor       Harry
Gryffindor         Ron
Gryffindor    Hermione
Name: name, dtype: object

In [44]:
type(df.loc['Gryffindor'])

pandas.core.frame.DataFrame

In [45]:
type(df.loc['Gryffindor']['name'])

pandas.core.series.Series

Chaining tends to cause Pandas to return a copy of the DataFrame instead of a view on the DataFrame and might be slower than necessary. Better to use `loc` and `iloc`. `loc` for  row selection also supports slicing. If we wanted to select all rows, we can use a colon to indicate a full slice from beginning to end and the second parameter is list of all the columns you want to choose. For example, all of the names and scores for all houses:

In [46]:
df.loc[:,['name','grade']]

                name  grade
Gryffindor     Harry    1.0
Gryffindor       Ron    3.0
Gryffindor  Hermione    1.0
Slytherin      Draco    1.0

In [47]:
df.loc['Gryffindor',['name','grade']]

                name  grade
Gryffindor     Harry    1.0
Gryffindor       Ron    3.0
Gryffindor  Hermione    1.0

### Dropping Data
The drop function takes a single parameter, which is the index or row label to drop. The `axis` parameter is the axis which should be dropped. By default this value is zero, indicating the row axis. But you can change it to one if you wanted to drop a column.

**Notice:** The drop function doesn't change the DataFrame by default, instead returns a copy of the DataFrame with the given rows removed. To change this you have to set `inplace=True`.

In [48]:
df.drop('Slytherin')

                name                          class  grade
Gryffindor     Harry  Defense Against the Dark Arts    1.0
Gryffindor       Ron                         Charms    3.0
Gryffindor  Hermione                Transfiguration    1.0

In [49]:
df

                name                          class  grade
Gryffindor     Harry  Defense Against the Dark Arts    1.0
Gryffindor       Ron                         Charms    3.0
Gryffindor  Hermione                Transfiguration    1.0
Slytherin      Draco                       Postions    1.0

In [50]:
copy_df= df.copy()
copy_df.drop("class", inplace=True, axis=1)
copy_df

                name  grade
Gryffindor     Harry    1.0
Gryffindor       Ron    3.0
Gryffindor  Hermione    1.0
Slytherin      Draco    1.0

You can also drop a column directly through the use of the indexing operator, using the `del` keyword. This takes immediate effect on the DataFrame and does not return a view.

In [51]:
del copy_df['grade']
copy_df

                name
Gryffindor     Harry
Gryffindor       Ron
Gryffindor  Hermione
Slytherin      Draco

You can also add a new column to the DataFrame through the use of the indexing operator, by assigning some value to it.

In [52]:
df['ranking']=1 # broadcasts the the value 1 
df

                name                          class  grade  ranking
Gryffindor     Harry  Defense Against the Dark Arts    1.0        1
Gryffindor       Ron                         Charms    3.0        1
Gryffindor  Hermione                Transfiguration    1.0        1
Slytherin      Draco                       Postions    1.0        1

### Load Data 
 A common part of the data analysis workflow is to read the dataset in from an external file. One popular file type is comma-separated files or CSV. Any Spreadsheet software like Excel or Google sheets can save output in CSV format. You can also import HTML pages, database, json objects and other file formats, for the rest checkout the documenation.

In [53]:
df = pd.read_csv("cereal.csv")
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,NaN
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,-99,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,NaN
3,All-Bran with Extra Fiber,K,C,50,4,0,140,-99.0,8.0,0,330,25,3,1.0,0.50,NaN
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,-99,3,1.0,0.75,34.384843

The index starts with zero. Pandas has created a new index, but if we want the name to be the index we need to use `index_col`.

In [54]:
df = pd.read_csv("cereal.csv",index_col=0)
df.head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,NaN
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,-99,3,1.0,1.00,33.983679
All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,NaN
All-Bran with Extra Fiber,K,C,50,4,0,140,-99.0,8.0,0,330,25,3,1.0,0.50,NaN
Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,-99,3,1.0,0.75,34.384843

We can checkout all the column names with `.columns` attribute:

In [55]:
df.columns

Index(['mfr ', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')

We can change the column names to make it more clear. we use the `rename` function. It takes a parameter called columns, and we need to pass in a dictionary which are the keys of the old column name and the value of the corresponding new name. Remanem does not motify the dataframe.

In [56]:
new_df = df.rename( columns = {
                  'mfr':'manufacturer',
                  'type': 'temperature'})
new_df.head()

,mfr,temperature,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,NaN
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,-99,3,1.0,1.00,33.983679
All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,NaN
All-Bran with Extra Fiber,K,C,50,4,0,140,-99.0,8.0,0,330,25,3,1.0,0.50,NaN
Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,-99,3,1.0,0.75,34.384843

Create a cleaning function that strip white space across all the data. We can pass the function as the mapper parameter, and then indicate whether the axis should be the columns, or the index, that's the row labels.

In [57]:
new_df = df.rename(mapper=str.strip , axis='columns')
new_df = new_df.rename( columns = {
                  'mfr':'manufacturer',
                  'type': 'temperature'})
new_df.head()

,manufacturer,temperature,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,NaN
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,-99,3,1.0,1.00,33.983679
All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,NaN
All-Bran with Extra Fiber,K,C,50,4,0,140,-99.0,8.0,0,330,25,3,1.0,0.50,NaN
Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,-99,3,1.0,0.75,34.384843

In [58]:
new_df = df.rename(mapper=lambda x:x.replace('%','') , axis='index')

In [59]:
new_df.head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100 Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,NaN
100 Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,-99,3,1.0,1.00,33.983679
All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,NaN
All-Bran with Extra Fiber,K,C,50,4,0,140,-99.0,8.0,0,330,25,3,1.0,0.50,NaN
Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,-99,3,1.0,0.75,34.384843

We can also use the `.columns ` attribute to directly rename the columns.  Since it is a list you can easily change the values or use list comprehension.

In [60]:
cols = list(df.columns)# its an indexing variable we change it to a list
df.columns = [c.upper().strip() for c in cols]
df.head()

,MFR,TYPE,CALORIES,PROTEIN,FAT,SODIUM,FIBER,CARBO,SUGARS,POTASS,VITAMINS,SHELF,WEIGHT,CUPS,RATING
name,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,NaN
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,-99,3,1.0,1.00,33.983679
All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,NaN
All-Bran with Extra Fiber,K,C,50,4,0,140,-99.0,8.0,0,330,25,3,1.0,0.50,NaN
Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,-99,3,1.0,0.75,34.384843

Pandas is good at detecting missing values directly from data formats like CSV files. Although most missing values are often formatted as NaN, NULL, None, or N/A, sometimes missing values are not labeled so clearly. `read_csv` function has a parameter called `na_values` that allows us to specify the format of missing values. It allows scalar, ,string, lists or dictionaries to be used.

In [61]:
df = pd.read_csv("cereal.csv", na_values=-99)
df.columns = [c.strip() for c in df.columns]
df.head(5)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25.0,3,1.0,0.33,NaN
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,NaN,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25.0,3,1.0,0.33,NaN
3,All-Bran with Extra Fiber,K,C,50,4,0,140,NaN,8.0,0,330,25.0,3,1.0,0.50,NaN
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,NaN,3,1.0,0.75,34.384843

Function `.isnull` creates a Boolean mask of the whole DataFrame, it broadcasts the isnull function to every cell indicating if it is null or not.

In [62]:
mask = df.isnull()
mask

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
73,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
74,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
75,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
76,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

You can drop the null rows using `dropna` function.

In [63]:
df.dropna().head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
5,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25.0,1,1.00,0.75,29.NaN
7,Basic 4,G,C,130,3,2,210,2.0,18.0,8,100,25.0,3,1.33,0.75,37.038562
8,Bran Chex,R,C,90,2,1,200,4.0,15.0,6,125,25.0,1,1.00,0.67,49.120253
10,Cap'n'Crunch,Q,C,120,1,2,220,0.0,12.0,12,35,25.0,2,1.00,0.75,18.042851
11,Cheerios,G,C,110,6,2,290,2.0,17.0,1,105,25.0,1,1.00,1.25,50.764999

Or fill in the values using `fillna`. If you pass a single value all of the missing data will be set to that value. Other options are set by `method` parameter, if set to `ffill` and `bfill`. `ffill` is for forward filling and it updates an na_value for a particular cell with the value from the previous row. `bfills` for backward filling which  fills the missing values with the next valid value. 

**Notice:** data needs sorting in this case. ( we can sort by index or by value. `df.sort_index(index_name)` )

In [64]:
df.fillna(0).head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25.0,3,1.0,0.33,0
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0.0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25.0,3,1.0,0.33,0
3,All-Bran with Extra Fiber,K,C,50,4,0,140,0.0,8.0,0,330,25.0,3,1.0,0.50,0
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,0.0,3,1.0,0.75,34.384843

In [65]:
df.fillna(method='ffill').head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25.0,3,1.0,0.33,NaN
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,25.0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25.0,3,1.0,0.33,33.983679
3,All-Bran with Extra Fiber,K,C,50,4,0,140,9.0,8.0,0,330,25.0,3,1.0,0.50,33.983679
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25.0,3,1.0,0.75,34.384843

we can also do customize fill-in to replace values with the `replace` function. It allows replacement from several approaches:

- Value-to-value
- list
- dictionary
- regex

In [66]:
df['fat'].replace(1,'low-fat').head() #value to value

0    low-fat
1          5
2    low-fat
3          0
4          2
Name: fat, dtype: object

In [67]:
df['name'].replace(to_replace="[\w\d\%\-\s]*Bran",value="Barn Musli",regex=True)

0                      Barn Musli
1                      Barn Musli
2                      Barn Musli
3     Barn Musli with Extra Fiber
4                  Almond Delight
                 ...
72                        Triples
73                           Trix
74                     Wheat Chex
75                       Wheaties
76            Wheaties Honey Gold
Name: name, Length: 77, dtype: object

**Notice:** When you use statistical functions on DataFrames, these functions typically ignore missing values. e.g., calcuting the mean value, beware of this problem.

### Masking:

A Boolean mask is an one-dimensional array like a series, or two-dimensions like a DataFrame, where each of the values of the array are either true or false.It is like an overlay on top of the DataFrame, where any cell aligned with the true value will be admitted into our final result, and any cell aligned with the false value will be ignored. They are created by applying operators directly to the pandas series or DataFrame object.

In [68]:
#Look for cerials with more than 3 gr of PROTEIN 
# This is essentially broadcasting a comparison operator, greater than, 
#with the results being returned as a Boolean series.
protein_msk = df['protein']> 3
protein_msk

0      True
1     False
2      True
3      True
4     False
      ...
72    False
73    False
74    False
75    False
76    False
Name: protein, Length: 77, dtype: bool

The mask here is a series object, since only one column is being operated on filled with either true or false values.
Now you could just lay it on top of the data and to hide the data that you don't want, using the `df.where` function.

In [69]:
df.where(protein_msk).head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4.0,1.0,130.0,10.0,5.0,6.0,280.0,25.0,3.0,1.0,0.33,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,All-Bran,K,C,70.0,4.0,1.0,260.0,9.0,7.0,5.0,320.0,25.0,3.0,1.0,0.33,NaN
3,All-Bran with Extra Fiber,K,C,50.0,4.0,0.0,140.0,NaN,8.0,0.0,330.0,25.0,3.0,1.0,0.50,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

All of the rows with Flase value have NaN data. These rows weren't dropped from our dataset, they're just not a number. Since we don't want them we can use `dropna` function.

In [70]:
df.where(protein_msk).dropna().head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
11,Cheerios,G,C,110.0,6.0,2.0,290.0,2.0,17.0,1.0,105.0,25.0,1.0,1.0,1.25,50.764999
41,Life,Q,C,100.0,4.0,2.0,150.0,2.0,12.0,6.0,95.0,25.0,2.0,1.0,0.67,45.328074
43,Maypo,A,H,100.0,4.0,1.0,0.0,0.0,16.0,3.0,95.0,25.0,2.0,1.0,1.00,54.850917
56,Quaker Oat Squares,Q,C,100.0,4.0,1.0,135.0,2.0,14.0,6.0,110.0,25.0,3.0,1.0,0.50,49.511874
57,Quaker Oatmeal,Q,H,100.0,5.0,2.0,0.0,2.7,-1.0,-1.0,110.0,0.0,1.0,1.0,0.67,50.828392

** Better way: **  Shorthand syntax which combines `where` and `dropna`, is an overload of the index operator.

In [71]:
df[df['protein']> 3].head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25.0,3,1.0,0.33,NaN
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25.0,3,1.0,0.33,NaN
3,All-Bran with Extra Fiber,K,C,50,4,0,140,NaN,8.0,0,330,25.0,3,1.0,0.50,NaN
11,Cheerios,G,C,110,6,2,290,2.0,17.0,1,105,25.0,1,1.0,1.25,50.764999
41,Life,Q,C,100,4,2,150,2.0,12.0,6,95,25.0,2,1.0,0.67,45.328074

**Notice:** So far indexing operator has three different usage: 
- A string input ---> projects a single column. 
- A list of string as input ---> returns all the those columns 
- A boolean mask --> filters the data accordingly

If you want to combine multiple Boolean masks, such as multiple criteria, you would naturally go for bit masking like python, but it doesnt work with Pandas:

In [72]:
(df['protein']> 3) and (df['fatfat']> 1)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

The problem is that you have a series object and Python doesn't know how to compare two series using AND, or, Or. The pandas author have overwritten the **| (pipe)** and **& (ampersand)** operator to handle this for us.

In [73]:
(df['protein']> 3) & (df['fat']< 2)

0      True
1     False
2      True
3      True
4     False
      ...
72    False
73    False
74    False
75    False
76    False
Length: 77, dtype: bool

**Notice:** the order of operations is imporant! Do **not** forget the parantheses.

In [74]:
df['protein']> 3 & df['fat']< 2 # here we try to & the 3 and the dataframe, it doesnt work.

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

There are also built-in functions which do comparison:

In [76]:
df['protein'].gt(3) & df['fat'].lt(2)

0      True
1     False
2      True
3      True
4     False
      ...
72    False
73    False
74    False
75    False
76    False
Length: 77, dtype: bool

These functions are part of the series and DataFrame objects. So you can chain them together for more complex conditions.

In [77]:
df['protein'].gt(3).le(1)

0     True
1     True
2     True
3     True
4     True
      ...
72    True
73    True
74    True
75    True
76    True
Name: protein, Length: 77, dtype: bool

#### Apply function

One of the most used functions in panads, the `apply` function will take some arbitrary function and apply it to either a series, a single column or a data frame across all rows or columns.

In [78]:
def get_name_family(row): # the row is a single series object which is a single row indexed by column values. 
    row['family_name'] = row['name'].split(" ")[-1]
    return row 

df = df.apply(get_name_family,axis='columns')# apply across columns 
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,family_name
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25.0,3,1.0,0.33,NaN,Bran
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,NaN,3,1.0,1.00,33.983679,Bran
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25.0,3,1.0,0.33,NaN,All-Bran
3,All-Bran with Extra Fiber,K,C,50,4,0,140,NaN,8.0,0,330,25.0,3,1.0,0.50,NaN,Fiber
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,NaN,3,1.0,0.75,34.384843,Delight

### Indices

The index is essentially a row-level label (axis zero). You saw perviously that indices can be auto generated or set during creation. Another option is to use the `set_index` function that takes a list of columns and promotes those columns to an index.

**Notice:** if you use `set_index` the pervious index is destroyed. If you want to keep the current index, to manually copy it in a new column.

In [79]:
df['previous_index'] = df.index #to keep the index 
df = df.set_index('mfr')
df.head()

,name,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,family_name,previous_index
mfr,,,,,,,,,,,,,,,,,
N,100% Bran,C,70,4,1,130,10.0,5.0,6,280,25.0,3,1.0,0.33,NaN,Bran,0
Q,100% Natural Bran,C,120,3,5,15,2.0,8.0,8,135,NaN,3,1.0,1.00,33.983679,Bran,1
K,All-Bran,C,70,4,1,260,9.0,7.0,5,320,25.0,3,1.0,0.33,NaN,All-Bran,2
K,All-Bran with Extra Fiber,C,50,4,0,140,NaN,8.0,0,330,25.0,3,1.0,0.50,NaN,Fiber,3
R,Almond Delight,C,110,2,2,200,1.0,14.0,8,-1,NaN,3,1.0,0.75,34.384843,Delight,4

To get rid of the index using `reset_index`. This promotes the index into a column, and creates a default numbered index.

In [80]:
df = df.reset_index()
df.head()

,mfr,name,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,family_name,previous_index
0,N,100% Bran,C,70,4,1,130,10.0,5.0,6,280,25.0,3,1.0,0.33,NaN,Bran,0
1,Q,100% Natural Bran,C,120,3,5,15,2.0,8.0,8,135,NaN,3,1.0,1.00,33.983679,Bran,1
2,K,All-Bran,C,70,4,1,260,9.0,7.0,5,320,25.0,3,1.0,0.33,NaN,All-Bran,2
3,K,All-Bran with Extra Fiber,C,50,4,0,140,NaN,8.0,0,330,25.0,3,1.0,0.50,NaN,Fiber,3
4,R,Almond Delight,C,110,2,2,200,1.0,14.0,8,-1,NaN,3,1.0,0.75,34.384843,Delight,4

You can also have **multi-level indexing** in Pandas, similar to composite keys in relational database systems.

In [81]:
df = df.set_index(['mfr','name'])

In [82]:
df.head()# this is a dual index, first the manufacturer and then the name

                              type  calories  protein  fat  sodium  fiber  \
mfr name
N   100% Bran                    C        70        4    1     130   10.0
Q   100% Natural Bran            C       120        3    5      15    2.0
K   All-Bran                     C        70        4    1     260    9.0
    All-Bran with Extra Fiber    C        50        4    0     140    NaN
R   Almond Delight               C       110        2    2     200    1.0

                               carbo  sugars  potass  vitamins  shelf  weight  \
mfr name
N   100% Bran                    5.0       6     280      25.0      3     1.0
Q   100% Natural Bran            8.0       8     135       NaN      3     1.0
K   All-Bran                     7.0       5     320      25.0      3     1.0
    All-Bran with Extra Fiber    8.0       0     330      25.0      3     1.0
R   Almond Delight              14.0       8      -1       NaN      3     1.0

                               cups     rating family_name  previous_index
mfr name
N   100% Bran                  0.33        NaN        Bran               0
Q   100% Natural Bran          1.00  33.983679        Bran               1
K   All-Bran                   0.33        NaN    All-Bran               2
    All-Bran with Extra Fiber  0.50        NaN       Fiber               3
R   Almond Delight             0.75  34.384843     Delight               4

If you want to query this using the `.loc` attribute, you need to provide the arguments in order by the level you wish to query. Inside of the index, each column is called a level and the outermost column is level zero.

### Merging DataFrame

It often occurs that we two DataFrames, but there's overlap between some of the cell values. For example we have information aboout a  person distributed in two DataFrames. When we want to join the DataFrames together, we have some choices to make: 

- List of all the people regardless of whether they're are present in first or the second DataFrames. In database terminology, this is called a full Outer join. In set theory, it's called a Union. 
- We only want those people who have maximum information for, those people who are in both DataFrames. In database terminology, this is called an inner join, or in set theory, the intersection.

[join]: https://files.realpython.com/media/join_diagram.93e6ef63afbe.png "Logo Title Text 2"
![alt text][join]
Source: https://realpython.com/pandas-merge-join-and-concat/

In [83]:
teachers_df= pd.DataFrame([{"Name":'Dumbledore',"Role": "Headmaster"},
                            {"Name":"Mcgonagall","Role": "Deputy Headmistress"},
                            {"Name":"Snape","Role": "Professor"},
                            {"Name": "Hermione","Role": "Prefect"},
                            {"Name": "Draco","Role": "Prefect"}])
teachers_df =teachers_df.set_index("Name")


student_df= pd.DataFrame([{
    "Name": "Harry",
    "House": "Gryffindor",
},{
    "Name": "Ron",
        "House": "Gryffindor",

},{
    "Name": "Hermione",
       "House": "Gryffindor",

},{
    "Name": "Draco",
        "House": "Slytherin",

}])
student_df =student_df.set_index("Name")

**Union:**  call` merge` passing in the DataFrame on the left(first argument) and the DataFrame on the right (second argument), using `outer join`. We use the left and right indexes as the joining columns. Everyone will be listed, and the missing values (Roles) are set to `NaN`.

In [84]:
pd.merge(teachers_df,#left
        student_df,#right
        how='outer',#type of join
        left_index=True, right_index=True)#use the indices

                           Role       House
Name
Draco                   Prefect   Slytherin
Dumbledore           Headmaster         NaN
Harry                       NaN  Gryffindor
Hermione                Prefect  Gryffindor
Mcgonagall  Deputy Headmistress         NaN
Ron                         NaN  Gryffindor
Snape                 Professor         NaN

**Intersection:** set the `how` attribute to inner.

In [85]:
pd.merge(teachers_df,#left
        student_df,#right
        how='inner',#type of join
        left_index=True, right_index=True)#use the indices

             Role       House
Name
Hermione  Prefect  Gryffindor
Draco     Prefect   Slytherin

**Set additions:**
The order of DataFrames ---> the first DataFrame is the left DataFrame and the second is the right.

- Get a list of all teachers regardless of whether they're students or not. But if there were students,get their student details as well. ---> left join. 

- Get a list of all of the students and their roles if they are also teachers. -->  right join.

In [86]:
pd.merge(teachers_df,#left
        student_df,#right
        how='left',#type of join
        left_index=True, right_index=True)#use the indices

                           Role       House
Name
Dumbledore           Headmaster         NaN
Mcgonagall  Deputy Headmistress         NaN
Snape                 Professor         NaN
Hermione                Prefect  Gryffindor
Draco                   Prefect   Slytherin

In [87]:
pd.merge(teachers_df,#left
        student_df,#right
        how='right',#type of join
        left_index=True, right_index=True)#use the indices

             Role       House
Name
Harry         NaN  Gryffindor
Ron           NaN  Gryffindor
Hermione  Prefect  Gryffindor
Draco     Prefect   Slytherin

You can also join on columns and not only index.

In [88]:
teachers_df = teachers_df.reset_index()
student_df = student_df.reset_index()
pd.merge(teachers_df,#left
        student_df,#right
        how='right',#type of join
        on='Name')#use columnn name

       Name     Role       House
0  Hermione  Prefect  Gryffindor
1     Draco  Prefect   Slytherin
2     Harry      NaN  Gryffindor
3       Ron      NaN  Gryffindor

**Confilicts:** The merge function preserves both information, but appends either on `_x` or `_y` to help differentiate which index went with which column of data. The `_x` is always the left DataFrame information and the `_y` is always te right.

Take this example where the adresses are different for the same entity in both dataframes:

In [89]:
teachers_df= pd.DataFrame([{"Name":'Dumbledore',"Role": "Headmaster", "Adress":"First Floor"},
                            {"Name":"Mcgonagall","Role": "Deputy Headmistress","Adress":"Second Floor"},
                            {"Name":"Snape","Role": "Professor","Adress":"Dungeons"},
                            {"Name": "Hermione","Role": "Prefect","Adress":"Gryffindor Dorms"},
                            {"Name": "Draco","Role": "Prefect","Adress":"Slytherin Dorms"}])

student_df= pd.DataFrame([{
    "Name": "Harry",
    "House": "Gryffindor","Adress":"No4, Private Drive"
},{
    "Name": "Ron",
        "House": "Gryffindor","Adress":"Borrow"

},{
    "Name": "Hermione",
       "House": "Gryffindor","Adress":"Chelsea"

},{
    "Name": "Draco",
        "House": "Slytherin","Adress":"Unknown"

}])

In [90]:
pd.merge(teachers_df,#left
        student_df,#right
        how='right',#type of join
        on='Name')#use columnn name

       Name     Role          Adress_x       House            Adress_y
0  Hermione  Prefect  Gryffindor Dorms  Gryffindor             Chelsea
1     Draco  Prefect   Slytherin Dorms   Slytherin             Unknown
2     Harry      NaN               NaN  Gryffindor  No4, Private Drive
3       Ron      NaN               NaN  Gryffindor              Borrow

**multi indexing and multiple columns:**  It's quite possible that the first name for students and teachers might overlap, but the last name might not. In this case, we can use a list of multiple columns that should be used to join keys from both dataframes using the `on` parameter. Recall that the column name assigned to the parameter need to exist in both dataframes.

In [91]:
teachers_df= pd.DataFrame([{"FName": "Albus","LName":'Dumbledore',"Role": "Headmaster", "Adress":"First Floor"},
                            {"FName": "Hermione","LName":"Mcgonagall","Role": "Deputy Headmistress","Adress":"Second Floor"},
                            {"FName": "Draco","LName":"Snape","Role": "Professor","Adress":"Dungeons"}])

student_df= pd.DataFrame([{
    "FName": "Harry","LName":"Potter",
    "House": "Gryffindor","Adress":"No4, Private Drive"
},{
    "FName": "Ron","LName":"Weasley",
        "House": "Gryffindor","Adress":"Borrow"

},{
    "FName": "Hermione","LName":"Granger",
       "House": "Gryffindor","Adress":"Chelsea"

},{
    "FName": "Draco","LName":"Snape",
        "House": "Slytherin","Adress":"Unknown"

}])

In [92]:
pd.merge(teachers_df,#left
        student_df,#right
        how='inner',#type of join
        on=["FName","LName"])#use the indices

   FName  LName       Role  Adress_x      House Adress_y
0  Draco  Snape  Professor  Dungeons  Slytherin  Unknown

**Notice:** If we think of merging as joining **horizontally,**, join on similar values in a column found in two dataframes, then concatenating is joining **vertically,** meaning we put dataframes on top or at the bottom of one another. You can concatenate using `concat` function.

### Pandas Idioms

There are many ways the language can be used to solve a particular problem, but that some are more appropriate than others. The best solutions are celebrated as idiomatic, such as using vectorization.

In [ ]:
import pandas as pd 
import numpy as np 

df = pd.read_csv("census.csv")
df.head()

**Method chaining:** Every method on object returns a reference to that object. You can condense many different operations on a DataFrame, for instance into one line or at least one statement of code.

In [ ]:
(df.where(df['SUMLEV']==50)
.dropna().set_index(['STNAME','CTYNAME'])
.rename(columns={"ESTIMATESBASE2010":"Estimate base 2010"}))

Doesnt always mean that it is faster!

**Using apply function:**  map across all of the rows in the DataFrame. 
Apply takes the function and the axis on which to operate as parameters.

Create a column for min and max values:

In [ ]:
def min_max(row):
    data = row[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012']]
    return pd.Series({'min':np.min(data), 'max':np.max(data)})

In [ ]:
df.apply(min_max, axis="columns").head()

There's no need to return a new series object. You can add new data to the existing data frame. In that case, you can just take the row values, and add in new columns indicating the max and min scores.

In [ ]:
def min_max(row):
    data = row[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012']]
    row['min']= np.min(data)
    row['max'] = np.max(data)
    return row
df.apply(min_max, axis="columns").head()

you typically see apply used with lambdas.

In [ ]:
rows_to_calculate= ['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012']
df.apply(lambda x: np.max(x[rows_to_calculate]), axis=1).head()

### Group by

Sometimes we want to select data based on groups and understand aggregated data at the group level. Pandas has a `group_by` function that it takes some data frame, splits it into chunks based on some key values, and then applies computation on those chunks, and then combines the result back together into another data frame. In Pandas, this is referred to as the **split-apply-combine** pattern.

In [ ]:
df = df[df['SUMLEV']==50]
df.head()

Let's get a list of all the unique states , for each state, reduce the dataframe and calculate the average.

In [ ]:
for group, frame in df.groupby('STNAME'):#split 
    #tuple-> key that we're trying to group by, (state name), projected dataframe that was found for this group. 
    #logic in apply step 
    avg = np.average(frame['CENSUS2010POP'])
    print(avg)

you can also provide a function to groupby and use that to segment your data.

If no column identifier is passed, groupby will automatically use the index.

**Group on two columns:** A first approach might be to promote them to a multi-index, and then just call it groupby. 
when we have a multi-index, we need to pass in the levels that we're interested in grouping by. By default, groupby  does not assume that you want to group by all levels.

In [ ]:
df = df.set_index(['STNAME','CTYNAME'])
count =0 
for group, frame in df.groupby(level= (0,1)):
    count+=1#avoid a long output
    if(count>50):
        break
    print(group)

Lets create a grouping fuction that reduces the second level to only if it starts with "C" or not.

In [ ]:
def grouping_fun(item):
    if item[1].startswith("C"):
        return (item[0],"Yes")
    else:
        return (item[0],"No")
for group, frame in df.groupby(by=grouping_fun):
    print(group)

The panda's developers have three broad categories of data processing: **Aggregations** , **transformation** , and **filtration** of group data.

**Aggregations:**
with `agg`, we can pass in a dictionary of the columns we are interested in aggregating along with the function that we're looking to apply. It does not ignore `NaN`.

In [ ]:
df = df.reset_index()
df.groupby('STNAME').agg({'ESTIMATESBASE2010':np.average})
df.groupby('STNAME').agg({'ESTIMATESBASE2010':np.nanmean})#ignore the NaN

We can extend this dictionary to aggregate by multiple functions or multiple columns.

In [ ]:
df.groupby('STNAME').agg({'ESTIMATESBASE2010':(np.nanmean,np.nanstd),
                         "POPESTIMATE2010": np.nanmean })#ignore the NaN
# The results will then be in a hierarchical index, but since they are columns they don't show up as an index per se,

**Transformation:**
Where `agg` returns a single value per column, so one row per group, `transform` returns an object that is the same size as the group. Essentially, it broadcasts the function you supply over the group dataframe, returning a new dataframe. This makes combining data later quite easy.

In [ ]:
cols = ['ESTIMATESBASE2010','STNAME']
transform_df = df[cols].groupby('STNAME').transform(np.average)
transform_df.head()

We can see that the index here is the same as the original dataframe, so we can join them.

In [ ]:
transform_df.rename({'ESTIMATESBASE2010':'avg'}, axis='columns', inplace=True)

In [ ]:
df = df.merge(transform_df,left_index=True,right_index=True)#merge on the indexs
df.head()

**Filtering:**
It's often that you'll want to group by some features then make some transformations to the groups, then drop certain groups as part of your cleaning routine. The Filter Function takes in a function which it applies to each group data frame and returns either a true or false, depending on whether that group should be included in the results.

In [ ]:
df.groupby('STNAME').filter(lambda x : np.average(x['ESTIMATESBASE2010'])>71346)

**Notice:** that the results are still indexed, but that any of the results which were in the group with the Mean ESTIMATESBASE2010 less than 71346, is not copied over.

**Applying:**
This allows you to apply an arbitrary function to each group and stitched the results back together into a single data frame where the index is preserved.

In [ ]:
def calc_mean(group):#group is a data frame just of whatever we've grouped
    avg =np.average(group['ESTIMATESBASE2010'])
    group['mean'] = np.abs(avg - group['ESTIMATESBASE2010'])
    return group

In [ ]:
df.groupby('STNAME').apply(calc_mean).head()

Using `apply` can be slower than using some of the specialized functions, especially `agg`.